<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/resources/Index.css" />
</head>
<body>
    @await Html.PartialAsync("_Header")
    <div>
        @RenderBody()
    </div>
</body>
</html>
