@{
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewData["Title"] = "Bienvenue au TP HN";
    ViewData["CurrentPage"] = "Home";
}


    

    
    <section>
        <p>
            <a href="/Home/Index/Form">Remplir le formulaire </a>
        </p>
    </section>



